*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #383636;
  font-family: 'Poppins', sans-serif;
  color:#000;
}

/* navigation bar */
nav{
  background: #383636;
  padding: 5px 20px;
}

nav img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li{
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #fff2bc;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo{
  flex: 1;
  color: #fff2bc;
  font-size: 20px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
nav ul li a{
  color: #fff2bc;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  transition: .4s;
}
nav ul li:hover a{
  color: aliceblue;
}
nav ul li i{
  font-size: 20px;
}
nav ul li.btn{
  display: none;
}
nav ul li.btn.hide i:before{
  content: '\f00d';
}
@media all and (max-width: 900px){
  /* navbar */
  nav{
    padding: 5px 30px;
  }
  nav ul li.items{
    width: 100%;
    display: none;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btn{
    display: block;
  }
  nav ul li.items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px aliceblue,
                inset 0 0 10px aliceblue;
  }
  nav ul li.items:hover:after{
    opacity: 0;
  }

  /* contact us */
  .wrapper {
    margin: inherit;
    display: grid;
  }

}

/* Contact Us */

.wrapper {
  background: aliceblue;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  line-height: 1.5;
}

h2 {
  color:#000;
}
form, input, textarea, button {
  font-size: initial;
}

.form-group label {
  display: block;
  margin: 2rem 0 0.5rem 0;
}

.form-group input[type= "text"],
.form-group input[type= "email"],
.form-group textarea {
  width: 100%;
  padding: 1 rem 0.8rem;
}

.submit {
  background: 		#696969;
  color: #fff2bc;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
  border: none;
}

.submit:hover {
  color: aliceblue;
}

/* footer */
footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #383636;
  color: #fff2bc;
  height: auto;
  max-width: 100%;
  overflow-x: hidden ;
  padding-top: 40px; 
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff2bc;
}

.socials a i {
  font-size: 1.1rem;
  transition: color .4s ease;
}

.socials a:hover {
  color: aliceblue;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}