* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F5DC	;
}

/* navbar */
nav {
    display: flex;
    background-color: #383636;
    padding: 10px;
}

nav img {
    float: right;
    width: 20px;
    height: 20px;
    float: left;
}

nav .logo {
    font-family: 'Poppins', sans-serif;
    color: #fff2bc;
    float: left;
    
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-evenly;
    float: right;
}

nav ul li a {
    color: #fff2bc;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}   

/* Responsive BreakPoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* ukuran mobile */
@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }
}

table {
    color: black;
    text-align: center;
    font-size: 11px;
    border: 1px solid;
    border-spacing: 0px;
    border-collapse: 0px;
    border-color: black;
    font-weight: normal;
}
table td {
    background-color: white;
    color: black;
    text-align: left;
    border: 1px solid;
} table td.judul {
    background-color: blue;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px;
}